
<div class="card-container">
  <div class="card" *ngFor="let card of cards" (click)="onCardClick(card)">
    <img [src]="card.image" alt="{{ card.caption }}" class="card-image"/>
    <div class="card-caption">{{ card.caption }}</div>

    <ng-container *ngIf="card.isSelected">
      <div class="quantity-popup">
        <label [for]="'selection-' + card.id">בחר כמות</label>
        <input type="number" [id]="'selection-' + card.id" [(ngModel)]="card.selectedQuantity" min="0" />
        <button (click)="confirmSelection(card)">אשר</button>
      </div>
    </ng-container>
  </div>
</div>



<!-- 
<div class="card-container">
  <div class="card" *ngFor="let card of cards" (click)="onCardClick(card)">
    <img [src]="card.image" alt="{{ card.caption }}" class="card-image"/>
    <div class="card-caption">{{ card.caption }}</div>
    <ng-container *ngIf="card.isSelected">
      <div class="quantity-popup">
        <label [for]="'selection-' + card.id" class="select">בחר כמות</label>
        <input type="number" [id]="'selection-' + card.id" [(ngModel)]="card.selectedQuantity" min="0" placeholder="Enter quantity" />
        <button (click)="confirmSelection(card)">אשר</button>
      </div>
    </ng-container>
  </div>
</div> -->
